modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["mastodon"]

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 19328

[objectStorage]
defaultBucketID = "replit-objstore-f923fbe9-ff27-4de6-b9dd-3ea8f449d29e"
